[Unit]
Description=Facebook Misc Ipmi Read
Wants=ipmb.service
After=ipmb.service

[Service]
Restart=always
RestartSec=3
ExecStart= echo nothing
Type=dbus
BusName=xyz.openbmc_project.Chassis.Event

[Install]
WantedBy=sysinit.target

